body::-webkit-scrollbar {
    width: 15px;
    position: relative;
    right: 10px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #005197;
    background-image: linear-gradient(rgb(114, 130, 202), rgb(8, 47, 56));
}

body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #ef9b11;
    /* background-image: linear-gradient(rgb(114, 130, 202), rgb(8, 47, 56)); */
    border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Mallory';
}

:root {
    --mainBrown: #2d1ef1;
    --mainYellow: #ff9e09;
    --mainGrey: #ece8dc;
    --mainWhite: #fff;
    --mainDark: #222;
}

body {
    background-color: var(--mainWhite);
    color: var(--mainDark);
    font-family: 'Atlas Grotesk' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.mobile-menu.collapse.navbar-collapse {
    display: none !important;
}

.search-here ul li a {
    color: #000;
    display: flex;
    padding-left: 20px;
}

.search-here ul li {
    padding: 10px;
    border-bottom: 1px solid #030509;
    margin-top: 10px;
}

.search-here ul {
    width: 100%;
    max-width: 910px;
    display: block;
    margin: auto;
    background-color: #fff;
    overflow-y: scroll;
    max-height: 278px;
}

.search-icon {
    color: #fff;
    margin-left: 15px;
    cursor: pointer;
}

.open-search {
    opacity: 0;
    visibility: hidden;
    background: #000000c7;
    width: 100%;
    position: absolute;
    left: 0;
    height: 670px;
    display: table;
    top: 0;
    transition: 0.3s;
    z-index: 9999;
}

.close-search {
    position: relative;
    top: 70px;
    right: 70px;
    text-align: right;
    display: inline-block;
    float: right;
    cursor: pointer;
}

.close-search img {
    filter: invert(1);
}

.search-here {
    width: 100%;
    height: 100%;
    display: table;
}

.search-here .input-here {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 100%;
}

.open-search.active {
    opacity: 1;
    visibility: visible;
}

.input-here input.search-field {
    color: #fff;
    width: 60%;
    border-bottom: solid 1px #fff !important;
    font-size: 26px;
    padding-left: 15px;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    border: none;
}

button.search-submit {
    background: #fff;
    border: none;
    padding: 10px 50px;
    position: relative;
    cursor: pointer;
    top: -3px;
}

article.top.selected .desktop-menu.collapse.navbar-collapse .search-icon {
    color: #000;
}

ul.navbar-nav.header-menu li.nav-item a {
    color: #fff;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
}

ul.navbar-nav.header-menu li.nav-item a:hover,
ul.navbar-nav.header-menu li.nav-item a:active,
ul.navbar-nav.header-menu li.nav-item a:visited {
    color: #fff;
}

ul.navbar-nav .nav-item a {
    color: rgb(255 255 255);
    display: block;
    width: 100%;
    height: 100%;
    /* padding: 0 24px; */
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color 0.28s ease, background-color 0.28s ease;
    transition: color 0.28s ease, background-color 0.28s ease;
    color: #fff;
    overflow: inherit;
    display: inline-block;
    font-weight: 700;
}


/* megamenu */

ul.subMenu {
    top: 50px;
    /* display: none; */
    visibility: hidden;
    z-index: 999;
    opacity: 0;
    padding: 10px 10px 0px 10px;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    max-width: none;
    text-align: left;
    transform: translate(0, 10px);
    /* transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 200ms ease-in; */
    transition: visibility 0s, opacity 0.5s linear;
}

li.nav-item.nav-item-main.active>a {
    border-bottom: #005197 solid 3px;
    padding-bottom: 0;
}

.megamenu-sub-mainmenu {
    height: 100%;
    display: grid;
    width: 100%;
    min-height: 602px;
}


/* ul.subMenu .col-md-3 {
    width: 22%;
    display: inline-block;
    margin: 0px 10px;
    list-style: none;
} */

ul.subMenu li {
    list-style: none;
}

ul.subMenu li ul.subsubMenu {
    padding-left: 0;
    line-height: 20px;
}

.cross-item {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

li.nav-item.active ul.subMenu {
    /* display: block; */
    visibility: visible;
    border-bottom: #005197 solid 3px;
    opacity: 1;
}

nav.navbar.navbar-expand-sm.bg-ligh.navbar-light {
    position: unset;
    padding: 0;
}

ul.subMenu .col-md-3 {
    padding: 0;
}

.content-menu {
    height: 100%;
    padding: 60px 30px 0px 30px;
}

ul.subsubMenu li a:empty {
    display: none;
}

ul.subsubMenu li p:empty {
    display: none;
}

ul.subsubMenu li a {
    color: #fff !important;
    font-weight: 300 !important;
    opacity: 0.6;
    display: block;
    line-height: 50px;
    font-size: 22px !important;
    text-decoration: none;
}

ul.subsubMenu li p {
    color: #fff;
    font-weight: 300;
    opacity: 0.8;
    display: block;
    line-height: 38px;
    font-size: 20px;
}

.content-menu>li>a {
    font-size: 32px !important;
    font-weight: 800 !important;
    margin-bottom: 20px;
    font-family: 'mallory';
}

ul.subMenu .col-md-3:nth-child(1) .content-menu {
    background-color: #ef9b11;
}

ul.subMenu .col-md-3:nth-child(2) .content-menu {
    background-color: #005197;
}

ul.subMenu .col-md-3:nth-child(3) .content-menu {
    background-color: #5b9279;
}

ul.subMenu .col-md-3:nth-child(4) .content-menu {
    background-color: #0a1128;
}

ul.subsubMenu li div div.sign-more a:not([href]) {
    display: none;
}

.icon-border {
    position: absolute;
    bottom: 40px;
}

.icon-border .sign-more {
    width: 72px;
    height: 72px;
    border: solid 2px #fff;
    border-radius: 100%;
    text-align: center;
    margin-left: 200px;
}

.icon-border .sign-more a {
    line-height: 40px;
}

.menu-main-div .content-menu a {
    color: #fff;
    font-weight: 300;
    opacity: 0.8;
    display: block;
    line-height: 50px;
    font-size: 22px;
}

.icon-border .sign-more img {
    filter: brightness(6%) invert(31) grayscale(60);
    position: relative;
    top: 13px;
}


/* ul.subMenu li .more-arrow-sign .sign-more a img:empty {
    display: none;
}

ul.subMenu li .more-arrow-sign .sign-more a img:empty ul.subMenu li .more-arrow-sign {
    display: none;
} */

.content-menu li a.expandable {
    font-size: 32px;
    color: #fff;
    margin-bottom: 26px;
}

.menu-main-div .content-menu a {
    color: #fff;
    font-weight: 300;
    opacity: 0.8;
    display: block;
    line-height: 50px;
    font-size: 22px;
}

article.top.selected li.nav-item.nav-item-main a.nav-link.text-capitalize {
    color: inherit;
}

article.top.selected li.nav-item.nav-item-main {
    color: #000;
}

.cross-item img {
    padding: 0px;
    width: 20px;
    position: relative;
    top: 7px;
}


/* a.nav-link.text-capitalize.expandable:after {
    display: block;
    content: url("../images/drop-down-arrow.svg");
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
} */

ul.subsubMenu li a {
    color: #fff;
    font-weight: 300;
    opacity: 0.8;
    display: block;
    line-height: 50px;
    font-size: 22px;
}

a.nav-link.text-capitalize.expandable:after {
    /* background-image: url('../images/drop-down-arrow.svg'); */
    background-image: url('../images/noun_Arrow.svg');
    background-repeat: no-repeat;
    background-position: center right;
    content: "";
    position: absolute;
    top: -18px;
    right: -20px;
    width: 30px;
    height: 75px;
    background-size: 35px;
    filter: brightness(6%) invert(31) grayscale(60);
}

a.nav-link.text-capitalize.expandable {
    position: relative;
}

ul.navbar-nav.header-menu li.nav-item.nav-item-main:nth-child(1),
ul.navbar-nav.header-menu li.nav-item.nav-item-main:nth-child(3),
ul.navbar-nav.header-menu li.nav-item.nav-item-main:nth-child(2) {
    margin-right: 20px;
}

article.top.selected li.nav-item.nav-item-main.active a.nav-link.text-capitalize.expandable:before {
    width: 100%;
}

article.top.selected li.nav-item.nav-item-main a.nav-link.text-capitalize.expandable:before {
    content: '';
    width: 0%;
    height: 4px;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    background: #ef9b11;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

article.top.selected li.nav-item.nav-item-main a.nav-link.text-capitalize.expandable:after {
    /* background-image: url('../images/drop-down-arrow.svg'); */
    background-image: url('../images/noun_Arrow.svg');
    background-repeat: no-repeat;
    background-position: center right;
    content: "";
    position: absolute;
    top: -18px;
    right: -20px;
    width: 30px;
    height: 75px;
    background-size: 35px;
    -webkit-filter: brightness(6%) invert(31) grayscale(60);
    filter: brightness(0%) invert(0) grayscale(0);
}


/* megamenu end */

article.top {
    position: absolute;
    left: 0;
    right: 0;
    /* margin: 0 auto;
    max-width: 1440px; */
    z-index: 9999;
    padding: 15px 0;
}

a.logo {
    margin: 15px;
}

article.top.selected {
    background-color: #fff;
}

.mr-auto,
.mx-auto {
    margin-right: unset;
}

.menu-contant.mx-auto.text-center {
    width: 70%;
}

div#site-wrapper {
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    clear: left;
}

article.top .container {
    width: 90%;
    max-width: 100%;
    padding: 0;
}

.default-background {
    width: 100%;
    min-height: 670px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

article.main-contant {
    position: relative;
}

article.main-contant:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e2030a6;
    top: 0;
}

.default-background {
    width: 100%;
    height: 670px;
}

.header-menu {
    margin-right: 0 !important;
}

.menu-contant.mx-auto.text-center h1.title-banner {
    color: #fff;
    margin-bottom: 30px;
    animation-delay: .5s;
}

.menu-contant.mx-auto.text-center p {
    color: #fff;
    font-weight: 700;
    animation-delay: 1s;
}

.contant-btn {
    text-align: center;
    margin-top: 30px;
    animation-delay: 1.5s;
}

.animated {
    animation-duration: 2.5s !important;
}

ol.carousel-indicators {
    display: none !important;
}

.contant-btn a {
    transition: 0.5s;
    padding: 10px 60px;
    border: 2px solid white;
    font-size: 17px;
    color: white;
    display: inline-block;
    text-align: center;
    margin-top: 26px;
    margin: 0 auto;
}

.contant-btn a:hover {
    color: #383838;
    background-color: white;
    border-color: white;
}

.contant-btn a:hover img {
    filter: grayscale(81%) brightness(720%) invert(1);
}

.contant-btn a img {
    filter: grayscale(1) brightness(100);
    opacity: 0.7;
    position: relative;
    top: 3px;
    left: 4px;
    transition: 1.5s;
}

section.contant-part {
    background: #f3f3f3;
    padding: 90px 0px;
}

.Strategy h2 {
    font-size: 55px;
    text-align: center;
    color: #005197;
    margin-bottom: 20px;
}

.Strategy p {
    text-align: center;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: "Atlas Grotesk";
    font-weight: 500;
}

footer {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 80px 0 50px;
    position: relative;
}

footer:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to top, #000 -2%, #00000033);
}

section.client {
    padding: 90px 0px;
}

footer .menu-contant h2 {
    font-size: 55px;
    padding: 0px;
}

.menu-contant h2 {
    text-align: center;
    font-size: 72px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: 800;
}

.red {
    color: #ff0000;
}

.client-iamges {
    width: 100%;
}

.client-iamges ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.client-iamges ul li {
    width: 17%;
    list-style: none;
    border-bottom: solid 1px #d2d2d2;
    text-align: center;
    margin: 10px;
}

.client-btn a:hover {
    color: white;
    background-color: #005197;
    border-color: #005197;
    text-decoration: none;
}

.client-btn {
    text-align: center;
    margin-top: 30px;
}

.client-btn a {
    transition: 0.5s;
    padding: 10px 60px;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    margin-top: 26px;
    margin: 0 auto;
    border: solid 2px #005197;
    color: #005197;
}

footer .foot-menu-area {
    padding: 30px 0px 0px 40px;
}

footer .foot-menu-area h4 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

footer .foot-menu-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .foot-menu-area ul li {
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}

footer .foot-menu-area ul li a {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}

footer .foot-menu-area ul li p {
    margin: 0;
}

footer .foot-menu-area ul li a {
    color: #ffffffe6;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}

footer .foot-menu-area ul li a:hover {
    color: #ef9b11;
}


/* strategy section */

section.strategy {
    background: #f3f3f3;
    padding: 90px 0px;
}

.strategy-area h1 {
    font-size: 55px;
    text-align: center;
    color: #005197;
    margin-bottom: 20px;
}

.strategy-area p {
    margin-bottom: 50px;
    max-width: 850px;
    text-align: center;
    font-size: 18px;
    color: #000;
    line-height: 28px;
    margin: 0 auto 50px;
    font-weight: 700;
    padding: 0 20px;
}

.strategy-list {
    background-color: #fff;
    display: block;
    padding: 40px 30px;
    height: 321px;
    margin-bottom: 30px;
}

.strategy-list h4 {
    font-size: 25px;
    color: #000000;
    text-align: left;
}

section.strategy .container {
    width: 65%;
}

.strategy-list ul {
    list-style: none;
    padding: 0;
}

.strategy-list ul li p a {
    font-size: 16px;
    line-height: 40px;
    color: #005197;
    text-decoration: none;
    font-weight: 600;
}

.strategy-list ul li p {
    margin: 0;
}

.strategy-list ul li a:hover {
    color: #000;
}

.strategy-list a img:hover {
    width: 80px;
    height: 80px;
    filter: brightness(0%) invert(0) grayscale(0);
}

.strategy-list a img {
    width: 80px;
    height: 80px;
    margin-top: 130px;
}


/* logo page */

section.main-slider.inner-banner {
    position: relative;
}

section.main-slider.inner-banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(black -22%, #ffff0000 20%);
    z-index: 1;
}

section.main-slider.inner-banner article.slider-banner {
    position: absolute;
    left: 0;
    top: 0;
    height: 670px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
}

section.main-slider.inner-banner article.slider-banner:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000001a;
    top: 0;
}

article.internalmain-contant {
    width: 100%;
    height: 670px;
    position: relative;
}

article.internalmain-contant .container,
article.internalmain-contant .container .row {
    height: 100%;
}

article.internalmain-contant .container .row .col-md-12 {
    display: table;
    height: 100%;
}

.banner-menu-contant {
    position: relative;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}

.banner-menu-contant h1 {
    text-align: center;
    font-size: 48px;
    color: #fff;
    font-weight: 800;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.set-breadc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 240px;
    z-index: 1;
}

.innerbanner-breadcrumb {
    position: relative;
    transform: rotate(-90deg);
    bottom: 140px;
    left: -15em;
}

.innerbanner-breadcrumb p {
    font-size: 16px;
    color: #bfbfbf;
    font-weight: 500;
}

.innerbanner-breadcrumb p a {
    color: #fff;
    text-decoration: none;
}

.content-inner h2 {
    color: #005197;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500 !important;
}

.content-inner p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #333;
}

.content-inner p a {
    color: #c71010;
}

.content-inner p b {
    font-size: 17px;
    color: #005197;
    font-weight: 500 !important;
}

.content-inner p h3 {
    color: #005197;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 500 !important;
    line-height: 34px;
}

.content-inner h3 {
    color: #005197;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 500 !important;
    line-height: 34px;
}

.content-inner ul {
    font-size: 16px;
    margin-bottom: 9px;
    font-weight: 400;
    line-height: 30px;
    text-align: inherit;
    list-style: square;
}

section.only-in-pages {
    position: relative;
    background: #f3f3f3;
    padding-top: 80px;
}

article.dav-powders {
    background: #005197;
    color: #fff;
    text-align: center;
    padding: 140px 0px 80px;
}

.extra-content {
    width: 83%;
    margin: 0 auto;
}

.extra-content p {
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
    opacity: 0.9;
}

.extra-content h4 {
    font-size: 18px;
    font-weight: 400 !important;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    color: #F39C12;
    line-height: 28px;
}

article.dav-powders .container {
    width: 65%;
}

.single-page-client {
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    height: 210px;
    bottom: 16em;
}


/* contact page */

section.content-part {
    padding: 50px 0;
}

.contact-page-main-contant p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.contact-page-main-contant p:nth-child(2) {
    font-size: 16px;
}

.contact-page-detail {
    margin-top: 50px;
}

.contact-page-main-detail h3 {
    color: #005197;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 500 !important;
    line-height: inherit;
}

.contact-page-main-detail p b {
    font-size: 18px;
    color: #005197;
    font-weight: 500;
}

.contact-page-main-detail p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
}

.contact-page-main-detail p:nth-child(4) {
    margin-bottom: 15px;
}

.contact-page-main-detail p a {
    color: #c71010;
    text-decoration: none;
}

.contact-page-main-detail p a:hover {
    color: #005197;
    text-decoration: none;
}

.contact-us-form {
    margin-top: 70px;
}

.contact-form .text-field-full {
    width: 100%;
}

.contact-form .text-field-full:focus {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 2px 0 0 #26a69a;
    border: unset !important;
}

.contact-form .text-field-full {
    border-radius: 0;
    outline: none;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    margin-bottom: 20px !important;
    padding-left: 19px !important;
    box-sizing: inherit !important;
    background: #fff !important;
    height: 45px !important;
    border: solid 1px #c3c3c3 !important;
}

.contact-form .textarea-field-full {
    width: 100%;
    height: 100px;
    margin-bottom: 20px !important;
    padding-left: 20px !important;
    border: solid 1px #c3c3c3 !important;
    outline: none;
}

.contact-form .textarea-field-full:focus {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 2px 0 0 #26a69a;
    border: unset !important;
}

button.contact-submit-btn {
    background: #f66a49;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding: 13px 60px !important;
    height: inherit !important;
    border: none !important;
    margin-bottom: 0 !important;
    margin-top: 10px;
}

button.contact-submit-btn:hover {
    background: #005197;
}


/* contact page end*/


/* career page */

.creer-page-head h2 {
    color: #005197;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500 !important;
    text-transform: uppercase;
}

input.file-field-full {
    margin-bottom: 20px !important;
    padding-left: 19px !important;
    box-sizing: inherit !important;
    background: #fff !important;
    height: 45px !important;
    border: solid 1px #c3c3c3 !important;
    width: 50%;
    padding: 6px;
}


/* career page end */


/* insight page */

section.insight-content-part {
    background: #f3f3f3;
    padding: 50px 0;
}

.insight-main-content {
    background-color: #fff;
}

.insight-page-head h2 {
    background-color: #FFF;
    border-bottom: 2px dashed #d3d5d7;
    box-shadow: 0 0 5px 0 #ffffff;
    position: relative;
    padding: 30px;
    margin-bottom: 10px;
    line-height: initial;
    font-size: 22px;
    color: #005197;
    font-weight: 500;
}

.insight-img img {
    width: 100%;
}

.insight-content {
    background-color: #FFF;
    border-bottom: 3px solid #d3d5d7;
    box-shadow: 0 0 5px 0 #ffffff;
    position: relative;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px;
}

.insight-content p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.insight-content a {
    color: #c71010;
    text-decoration: none;
}


/* insight page end*/


/* work page */

section.work-content-part {
    background: #f3f3f3;
    padding: 90px 0px;
}

.select-box p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 30px;
}

.select-box {
    background: #fff;
    width: 92%;
    background-color: #fff;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    text-align: left;
    box-shadow: 0 0 1.25rem rgba(2, 2, 22, 0.1);
    padding: 1.25rem 2.25rem 2px;
    box-sizing: content-box;
    margin-top: -8.9375rem;
    margin-bottom: 2.5rem;
    z-index: 999;
    position: relative;
    display: flex;
}

.select-box ul.tabs {
    white-space: inherit;
    text-align: left;
    overflow: inherit;
    height: inherit;
    width: 89%;
    margin: 0;
    margin-left: 20px;
    margin-top: 6px;
}

.select-box ul.tabs li.tab {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: inherit;
    height: inherit;
    padding-left: 7px;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    color: #111;
    position: relative;
    margin-right: 60px;
    text-transform: uppercase;
}

.select-box ul.tabs li.tab:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -30px;
    width: 25px;
    height: 25px;
    border: solid 2px #e6e6e6;
    border-radius: 20px;
}

.select-box ul.tabs li.tab.current:before {
    background: transparent;
    color: #019EE3;
    border: solid 2px #019EE3;
}

.select-box ul.tabs li.tab.current {
    background: transparent;
    color: #019EE3;
}

.our-work-heading h2 {
    color: #232323;
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: 0.3125rem;
    margin-bottom: 3rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.our-work-heading {
    text-align: center;
    padding: 20px 0px 10px;
    border-bottom: #005197 solid 3px;
    margin-bottom: 20px;
}

.business-items {
    background: #fff;
    padding: 0px 0px 30px;
    margin-bottom: 50px;
    box-shadow: rgba(2, 2, 22, 0.2) 0px 2px 25px;
}

.hover-like {
    position: relative;
}

.business-items .img-work {
    height: 388px;
    overflow: hidden;
    position: relative;
    border-bottom: solid 1px #e8e8e8;
}

.img-work .gatsby-image-wrapper {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0px !important;
}

.business-items .img-work img {
    width: 100%;
    height: 100%;
    margin-left: 0px !important;
}

.overlay-in {
    position: absolute;
    bottom: 0;
    background: linear-gradient(#2897a987, #25a0dda1);
    width: 100%;
    height: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
}

.hover-like:hover .right-hover svg {
    animation: slideAround 0.4s ease-in-out 0.2s;
}

@keyframes slideAround {
    0% {
        transform: translateX(0);
        opacity: 1
    }
    50% {
        transform: translateX(200%);
        opacity: 0
    }
    50.1% {
        transform: translateX(-200%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1
    }
}

.work-page-detail a:hover {
    text-decoration: none;
}

.select-box ul.tabs li.tab.current:after {
    content: "";
    background: url(../images/check_icon.svg) no-repeat;
    position: absolute;
    left: -32px;
    height: 25px;
    width: 25px;
    background-size: 28px;
    top: -4px;
}

.hover-like:hover .overlay-in {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay-in p {
    position: relative;
    font-size: 26px;
    color: #fff;
    top: 22%;
    left: 20px;
    width: 64%;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 20px;
}

.right-hover {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 100%;
    right: 45px;
    bottom: -14px;
    box-shadow: rgba(35, 35, 35, 0.15) 2px 2px 8px;
    text-align: center;
}

.right-hover svg {
    position: relative;
    top: 33%;
    color: #37b1e2;
    font-size: 17px;
}

.business-items h2 {
    font-size: 26px;
    margin-bottom: 0;
    font-weight: 800;
    text-align: left;
    color: #333;
    padding: 27px 40px 10px 20px;
    height: 50px;
}


/* work page end */


/* office page */

.office-page-main-detail h3 {
    margin-top: 30px;
}

.contact-page-main-contant h2 {
    color: #005197;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500;
}

.contact-page-main-detail h4 {
    color: #005197;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 500 !important;
    line-height: inherit;
}


/* office page end*/


/* submit rfp-page */

.submit-rfp-main-contant h2 {
    color: #005197;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500;
}

.submit-rfp-page-main-detail h3 {
    color: #005197;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: inherit;
}

.submit-rfp-page-main-detail ul li:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -30px;
    width: 10px;
    height: 18px;
    border-top: 2px solid #ff000000;
    border-left: 2px solid transparent;
    border-right: 3px solid #005197;
    border-bottom: 3px solid #005197;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.submit-rfp-page-main-detail ul {
    position: relative;
}

.submit-rfp-page-main-detail ul li {
    position: relative;
    list-style: none;
}


/* submit rfp-page end */


/* testimonials page */

section.testimonial-post {
    padding: 90px 0;
    background: #f3f3f3;
}

.testimonial-post-content h2 {
    color: #005197;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500;
}

.testimonials-post blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #ee6e73;
    font-size: 16px;
    padding: 10px 20px;
    line-height: 30px;
}

.testimonials-post p.testimonial-sign {
    display: block;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: solid 1px #d7d7d7;
    font-size: 16px;
    color: #005197;
    font-weight: 500;
}

.testimonials-post p.testimonial-sign span {
    margin-left: 10px;
    color: #393939;
    font-style: normal;
    font-weight: 400;
}


/* testimonials page */


/* Resposive */

@media (max-width: 768px) {
    .navbar-expand-sm .navbar-toggler {
        display: block !important;
    }
    .navbar-expand-sm {
        flex-flow: row nowrap;
        justify-content: space-between !important;
    }
    button.navbar-toggler:before {
        content: "";
        transition: all 0.3s ease;
        position: absolute;
        top: -10px;
        right: 11px;
        display: block;
        height: 4px;
        width: 25px;
        background: #fff;
    }
    button.navbar-toggler:after {
        content: "";
        position: absolute;
        top: -2px;
        right: 11px;
        display: block;
        height: 12px;
        width: 25px;
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
    }
    button.navbar-toggler.menu-toggle-btn.active:after {
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        top: -1px;
        border: 0;
        height: 4px;
        width: 25px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        display: block;
    }
    button.navbar-toggler.menu-toggle-btn.active:before {
        top: -1px;
        background: #fff;
        width: 25px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .desktop-menu.collapse.navbar-collapse.show {
        display: none !important;
    }
    .mobile-menu.collapse.navbar-collapse {
        display: block !important;
    }
    .menu-contant.mx-auto.text-center {
        width: 90%;
    }
    article.main-contant {
        position: relative;
        height: 510px !important;
        position: relative;
    }
    .menu-contant.mx-auto.text-center p {
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
    }
    .menu-contant.mx-auto.text-center h1.title-banner {
        color: #fff;
        text-align: center;
        font-size: 24px;
        margin-top: 80px;
    }
    .menu-contant.mx-auto.text-center {
        position: relative;
        padding: 50px 0;
    }
    .client-iamges ul {
        padding: 0;
    }
    .contant-btn a {
        padding: 10px 15px;
        font-size: 12px;
        display: inline-block;
        margin-top: 0px;
        margin: inherit;
    }
    footer .foot-menu-area ul li {
        margin: 0;
    }
    footer .foot-menu-area ul li a {
        font-size: 13px;
        line-height: 20px;
    }
    button.navbar-toggler {
        filter: brightness(6%) invert(31) grayscale(60) !important;
        border: none !important;
        outline: none !important;
    }
    .contant-btn {
        margin-top: 0;
    }
    .collapse.navbar-collapse.show {
        top: 0;
        left: 0;
    }
    .collapse.navbar-collapse {
        padding-top: 20px;
        width: 70%;
        color: #ffffff;
        position: fixed;
        top: 0;
        left: -1000px;
        z-index: 999999;
        height: 100%;
        background: #fff;
        overflow-y: scroll;
        /* margin-left: -10%; */
        transition: 0.4s;
    }
    ul.navbar-nav.header-menu li.nav-item a {
        /* color: #000 !important; */
        padding: 15px 20px;
        border-top: solid 1px #e5e5e5;
        z-index: 2;
        font-size: 14px;
        text-decoration: none;
        color: #474747 !important;
    }
    ul.navbar-nav.header-menu li.nav-item {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        line-height: 1;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .collapse:not(.show) {
        display: unset !important;
        visibility: hidden !important;
        opacity: 0 !important;
    }
    a.nav-link.text-capitalize.expandable:after {
        right: 0px !important;
        -webkit-filter: unset !important;
        filter: unset !important;
        top: -5px !important;
    }
    section.strategy .container {
        width: 100%;
    }
    /* Loo Page Respoonsive */
    article.slider-banner,
    article.internalmain-contant {
        height: 330px !important;
    }
    .banner-menu-contant h1 {
        font-size: 34px;
        text-align: center;
    }
    .set-breadc {
        position: absolute;
        left: 0;
        bottom: 70px;
        width: 92%;
        text-align: center;
    }
    .innerbanner-breadcrumb {
        left: 11px;
        bottom: 20px;
        transform: rotate(0deg);
        width: 100%;
        padding: 7px;
    }
    .innerbanner-breadcrumb p {
        font-size: 17px;
        color: #ffffff;
        font-weight: 500;
        text-shadow: 0px 1px 0px #0000004a;
    }
    .mobile-menu ul {
        padding-left: 10px;
    }
    a.mobile-nav-link.expandable:before {
        content: "";
        position: absolute;
        height: 10px;
        right: 18px;
        top: 3px;
        width: 2px;
        background: #8a8a8a;
    }
    a.mobile-nav-link.text-capitalize.expandable {
        position: relative;
        display: inherit;
    }
    a.mobile-nav-link.expandable:after {
        content: "";
        position: absolute;
        height: 2px;
        right: 14px;
        top: 7px;
        width: 10px;
        background: #8a8a8a;
    }
    li.mobile-item-main ul.mobile-subMenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        background-clip: padding-box;
    }
    li.mobile-item-main.menu-open ul.mobile-subMenu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        visibility: visible;
        opacity: 1;
    }
    li.mobile-item-main.menu-open ul.mobile-subMenu li>a {
        color: #000;
    }
    ul.mob-subsubMenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        background-clip: padding-box;
    }
    ul.mobile-subMenu li.submenu-open ul {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        display: block;
    }
    .mobile-menu ul li.mobile-item-main.menu-open a:before {
        /* opacity: 0; */
        transform: rotate(90deg);
        transition: all 0.3s ease;
    }
    .mobile-menu ul li.mobile-item-main.menu-open a:after {
        opacity: 0;
    }
    ul.mobile-main-menu>li.mobile-item-main>a.mobile-nav-link.text-capitalize {
        color: #000;
        text-decoration: none;
    }
    ul.mobile-main-menu>li.mobile-item-main {
        border-top: solid 1px #e5e5e5;
        padding: 10px;
        color: #000;
    }
    ul.mobile-main-menu {
        padding: 10px;
    }
    ul.mobile-main-menu>li.mobile-item-main>ul.mobile-subMenu {
        padding: 10px 10px 0;
    }
    ul.mobile-main-menu>li.mobile-item-main>ul.mobile-subMenu>li {
        margin: 10px;
    }
    ul.mobile-main-menu>li.mobile-item-main>ul.mobile-subMenu>li:before {
        content: "";
        position: absolute;
        left: 0;
        width: 4px;
        height: 24px;
        background: #8a8a8a;
        margin-left: 10px;
    }
    ul.mobile-subMenu li.submenu-open ul.mob-subsubMenu li {
        border-top: solid 1px #e5e5e5;
        padding: 10px;
    }
    ul.mobile-subMenu li.submenu-open {
        border-top: solid 1px #e5e5e5;
        padding: 10px 0;
    }
    a.mobile-logo {
        width: 100%;
    }
    a.mobile-logo img {
        display: block;
        margin: auto;
    }
}

.search-results-count {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
}

.search-results-list {
    list-style: none;
}

.search-results-list__heading {
    margin-bottom: 5px;
}

.search-results-list__link {
    box-shadow: none;
}


/* g-SUITE PAGE */

section.main-baner .container {
    width: 100%;
    max-width: 1320px;
}

.banner-gsuite {
    margin: 110px 0;
    position: relative;
}

.banner-gsuite h1 {
    padding: 20px 30px;
    background-color: #fff;
    z-index: 0;
    display: inline-block;
}

.banner-gsuite h1 {
    font-size: 28px;
    margin: 0 0 30px;
    color: #000000;
    font-weight: 500;
}

.banner-gsuite h1 img {
    width: 100px;
    margin: 0 11px;
    vertical-align: baseline;
}

.banner-gsuite span {
    font-size: 50px;
    margin: 0 0px 0 6px;
    font-weight: normal;
    line-height: 78px;
}

.banner-gsuite span:after {
    content: '*';
    font-size: 60%;
    vertical-align: super;
}

.banner-gsuite span.tc {
    font-size: 10px;
    line-height: 0;
    margin: 0 0px 0 6px;
    font-weight: normal;
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

.banner-gsuite ul li {
    line-height: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    display: flex;
    margin-bottom: 12px;
}

ul:not(.browser-default)>li {
    list-style-type: none;
}

.banner-gsuite ul li:before {
    content: '';
    background: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    padding: 28px 28px;
    margin: 0px -9px;
}

.banner-gsuite ul li img {
    width: 61px;
    position: relative;
    left: -11px;
    top: -2px;
}

img.scaled-image {
    border: 0 #3eadc9 dotted !important;
    margin: -0px !important;
}

.gsuite-form {
    padding-top: 110px;
}

.formContainerV2.parbase.section {
    background: #fff;
    position: relative;
}

.gsuite-form .form-container-v2 {
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 15px 45px 45px;
}

.form-header-wrap {
    right: 0px;
    position: absolute;
    top: 0px;
    filter: drop-shadow(0 0 0.2rem black);
}

.gsuite-form h5 {
    font-size: 27px;
    padding: 13px 0;
    font-weight: normal;
}

input.form-control.gsuiteform {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.gsuite-form label {
    font-size: 14px;
    color: #222;
    width: 100%;
}

.gsuite-submit-main {
    transition: 0.5s;
    padding: 10px 60px;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    margin-top: 26px;
    border: solid 2px #005197;
    color: #005197;
    background-color: #fff;
}

.gsuite-submit-main:hover {
    color: white;
    background-color: #005197;
    border-color: #005197;
}

.businss-sec {
    display: block;
    margin: 70px 0px 0px;
}

.businss-cont {
    text-align: center;
    margin-bottom: 50px;
}

.businss-cont h2 {
    color: #005197;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 500;
}

.businss-cont h5 {
    font-size: 17px;
    color: #222;
    font-weight: 500;
}

.businss-area {
    margin-bottom: 60px;
}

.businss-connct h4 {
    line-height: initial;
    font-size: 22px;
    color: #005197;
    font-weight: 400;
    margin-bottom: 10px;
}

.businss-connct p {
    color: #333;
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 300;
}

.businss-icon img {
    width: 40px;
    height: 40px;
    margin-right: 1px;
    border: none !important;
    margin: 0 !important;
}

section#section01 .col-md-6 {
    padding-top: 25px;
}

.suit-edtion-sec {
    padding: 90px 0px;
    background-color: #fff;
}

.suit-edtion-cont {
    text-align: center;
    margin-bottom: 65px;
}

.suit-edtion-cont h2 {
    color: #005197;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 500;
}

.suit-edtion-cont h5 {
    font-size: 17px;
    color: #222;
    font-weight: 500;
}

.suit-box-cont {
    text-align: center;
    padding: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(20, 69, 160);
    color: white;
    text-decoration: none;
}

.suit-box-cont h6 {
    font-size: 22px;
    font-weight: 400;
}

.suit-box-cont h3 {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 400;
}

.suit-box-cont h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 400;
}

.suit-cont {
    text-align: center;
    padding: 0px 20px;
    box-shadow: 1px 8px 14px 4px #e4e4e4;
    background-color: #fff;
    height: 600px;
}

.suit-cont p {
    color: #222;
    font-size: 16px;
    border-bottom: solid 1px #ece6e6;
    padding: 16px 0px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
}

.enqry-btn {
    display: inline-block;
    margin: 78px 0px;
}

.suit-cont a {
    transition: 0.5s;
    border-radius: 0px;
    padding: 10px 60px;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    margin-top: 26px;
    margin: 0 auto;
    border: solid 2px #005197;
    color: #005197;
    background-color: #fff;
}

.start-btn {
    margin: 40px 0px;
    display: inline-block;
}

.main-st {
    margin: 60px 0;
}

.suit-box-cont p {
    margin: 0;
}

.g-suit-sec {
    text-align: center;
    padding: 90px 0px 50px;
    background-color: #f1f1f1;
}

.g-suit-cont {
    margin-bottom: 60px;
}

.g-suit-cont h2 {
    color: #005197;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 500;
}

.g-suit-cont h5 {
    font-size: 17px;
    color: #222;
    font-weight: 500;
}

.g-suit-sec .icons {
    width: 100%;
    height: 258px;
    margin: 0 0 50px;
    text-align: center;
    position: unset;
    left: 0;
    bottom: 0;
}

.g-suit-icon img {
    height: 100px;
    width: 100px;
}

.icon-cont {
    padding: 10px 0px;
}

.icon-cont h4 {
    font-size: 22px;
    color: #005197;
    margin: 0;
    padding: 7px 0 10px;
    font-weight: 500;
}

.icon-cont p {
    color: #222;
    font-size: 15px;
    font-weight: 400;
}

section.full-contact {
    padding: 90px 0;
}

.full-contact-page label {
    font-size: 17px;
    color: #000000;
    font-weight: 400;
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
}

.g-suite-company-form {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.full-contact-page h5 {
    text-align: center;
    width: 100%;
    margin: 0;
    font-weight: 800;
    padding: 0;
    font-family: 'Mallory';
    font-size: 1.54rem;
    line-height: 110%;
    color: inherit;
}

input.g-suite-company-form-sumit-btn {
    transition: 0.5s;
    padding: 10px 60px;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    margin-top: 26px;
    border: solid 2px #005197;
    color: #005197;
    background-color: #fff;
}

input.g-suite-company-form-sumit-btn:hover {
    color: white;
    background-color: #005197;
    border-color: #005197;
}

@media (max-width: 768px) {
    .main-baner {
        height: 1095px !important;
    }
    .banner-gsuite {
        margin: 110px 0 0 !important;
    }
    .banner-gsuite ul li {
        font-size: 16px !important;
    }
    .form-header-wrap {
        right: 0 !important;
        position: unset !important;
        top: 0px !important;
        filter: drop-shadow(0 0 0.5rem white) !important;
    }
    .gsuite-form {
        padding-top: 0px !important;
    }
    .gsuite-form .form-container-v2 {
        padding: 15px 15px 45px !important;
    }
    .businss-cont {
        padding-top: 250px;
    }
    section#section01 .container,
    section.full-contact .container {
        width: 90%;
    }
    section#section02 .col-md-4 {
        padding-top: 25px;
    }
}


/* case-studies page */

.content-inner {
    max-width: 630px;
    width: 100%;
    display: block;
    margin: auto;
}

.case p {
    padding-bottom: 16px;
    border-bottom: 1px solid#c3b7b7;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}

.inner-pages p strong {
    font-size: 17px;
    color: #005197;
    font-weight: 500;
}


/* case-studies page */


/* g-SUITE PAGE end */


/* crm Page */


/* crm Page  end*/