h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 800;
    padding: 0;
    font-family: 'Mallory';
}

:root {
    --mainBrown: #2d1ef1;
    --mainYellow: #ff9e09;
    --mainGrey: #ece8dc;
    --mainWhite: #fff;
    --mainDark: #222;
}

body {
    background-color: var(--mainWhite);
    color: var(--mainDark);
    font-family: 'Atlas Grotesk' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 800 !important;
    padding: 0;
}

ul.navbar-nav.header-menu li.nav-item a {
    color: #fff;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
}

ul.navbar-nav.header-menu li.nav-item a:hover,
ul.navbar-nav.header-menu li.nav-item a:active,
ul.navbar-nav.header-menu li.nav-item a:visited {
    color: #fff;
}

ul.navbar-nav .nav-item a {
    color: rgb(255 255 255);
    display: block;
    width: 100%;
    height: 100%;
    /* padding: 0 24px; */
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color 0.28s ease, background-color 0.28s ease;
    transition: color 0.28s ease, background-color 0.28s ease;
    color: #fff;
    overflow: inherit;
    display: inline-block;
    font-weight: 700;
}


/* megamenu */

ul.subMenu {
    top: 50px;
    /* display: none; */
    visibility: hidden;
    z-index: 999;
    opacity: 0;
    padding: 10px 10px 0px 10px;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    max-width: none;
    text-align: left;
    transform: translate(0, 10px);
    /* transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 200ms ease-in; */
    transition: visibility 0s, opacity 0.5s linear;
}

li.nav-item.nav-item-main.active>a {
    border-bottom: #005197 solid 3px;
    padding-bottom: 0;
}

.megamenu-sub-mainmenu {
    height: 100%;
    display: grid;
    width: 100%;
    min-height: 602px;
}


/* ul.subMenu .col-md-3 {
    width: 22%;
    display: inline-block;
    margin: 0px 10px;
    list-style: none;
} */

ul.subMenu li {
    list-style: none;
}

ul.subMenu li ul.subsubMenu {
    padding-left: 0;
    line-height: 20px;
}

.cross-item {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

li.nav-item.active ul.subMenu {
    /* display: block; */
    visibility: visible;
    border-bottom: #005197 solid 3px;
    opacity: 1;
}

nav.navbar.navbar-expand-sm.bg-ligh.navbar-light {
    position: unset;
    padding: 0;
}

ul.subMenu .col-md-3 {
    padding: 0;
}

.content-menu {
    height: 100%;
    padding: 60px 30px 0px 30px;
}

ul.subsubMenu li a:empty {
    display: none;
}

ul.subsubMenu li p:empty {
    display: none;
}

ul.subsubMenu li a {
    color: #fff !important;
    font-weight: 300 !important;
    opacity: 0.6;
    display: block;
    line-height: 50px;
    font-size: 22px !important;
    text-decoration: none;
}

ul.subsubMenu li p {
    color: #fff;
    font-weight: 300;
    opacity: 0.8;
    display: block;
    line-height: 38px;
    font-size: 20px;
}

.content-menu>li>a {
    font-size: 32px !important;
    font-weight: 800 !important;
    margin-bottom: 20px;
    font-family: 'mallory';
}

ul.subMenu .col-md-3:nth-child(1) .content-menu {
    background-color: #ef9b11;
}

ul.subMenu .col-md-3:nth-child(2) .content-menu {
    background-color: #005197;
}

ul.subMenu .col-md-3:nth-child(3) .content-menu {
    background-color: #5b9279;
}

ul.subMenu .col-md-3:nth-child(4) .content-menu {
    background-color: #0a1128;
}

.content-menu li a.expandable {
    font-size: 32px;
    color: #fff;
    margin-bottom: 26px;
}

.menu-main-div .content-menu a {
    color: #fff;
    font-weight: 300;
    opacity: 0.8;
    display: block;
    line-height: 50px;
    font-size: 22px;
}

article.top.selected li.nav-item.nav-item-main a.nav-link.text-capitalize {
    color: inherit;
}

article.top.selected li.nav-item.nav-item-main {
    color: #000;
}

.cross-item img {
    padding: 0px;
    width: 20px;
    position: relative;
    top: 7px;
}


/* a.nav-link.text-capitalize.expandable:after {
    display: block;
    content: url("../images/drop-down-arrow.svg");
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
} */

ul.subsubMenu li a {
    color: #fff;
    font-weight: 300;
    opacity: 0.8;
    display: block;
    line-height: 50px;
    font-size: 22px;
}

a.nav-link.text-capitalize.expandable:after {
    /* background-image: url('../images/drop-down-arrow.svg'); */
    background-image: url('../images/noun_Arrow.svg');
    background-repeat: no-repeat;
    background-position: center right;
    content: "";
    position: absolute;
    top: -18px;
    right: -20px;
    width: 30px;
    height: 75px;
    background-size: 35px;
    filter: brightness(6%) invert(31) grayscale(60);
}

a.nav-link.text-capitalize.expandable {
    position: relative;
}

ul.navbar-nav.header-menu li.nav-item.nav-item-main:nth-child(1),
ul.navbar-nav.header-menu li.nav-item.nav-item-main:nth-child(3),
ul.navbar-nav.header-menu li.nav-item.nav-item-main:nth-child(2) {
    margin-right: 20px;
}

article.top.selected li.nav-item.nav-item-main a.nav-link.text-capitalize.expandable:after {
    /* background-image: url('../images/drop-down-arrow.svg'); */
    background-image: url('../images/noun_Arrow.svg');
    background-repeat: no-repeat;
    background-position: center right;
    content: "";
    position: absolute;
    top: -18px;
    right: -20px;
    width: 30px;
    height: 75px;
    background-size: 35px;
    -webkit-filter: brightness(6%) invert(31) grayscale(60);
    filter: brightness(0%) invert(0) grayscale(0);
}


/* megamenu end */

article.top {
    position: absolute;
    left: 0;
    right: 0;
    /* margin: 0 auto;
    max-width: 1440px; */
    z-index: 9999;
    padding: 15px 0;
}

a.logo {
    margin: 15px;
}

article.top.selected {
    background-color: #fff;
}

.mr-auto,
.mx-auto {
    margin-right: unset;
}

.menu-contant.mx-auto.text-center {
    width: 70%;
}

div#site-wrapper {
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    clear: left;
}

article.top .container {
    width: 90%;
    max-width: 100%;
    padding: 0;
}

.default-background {
    width: 100%;
    min-height: 670px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

article.main-contant {
    position: relative;
}

article.main-contant:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e2030a6;
    top: 0;
}

.default-background {
    width: 100%;
    height: 670px;
}

.header-menu {
    margin-right: 0 !important;
}

.menu-contant.mx-auto.text-center h1.title-banner {
    color: #fff;
    margin-bottom: 30px;
    animation-delay: .5s;
}

.menu-contant.mx-auto.text-center p {
    color: #fff;
    font-weight: 700;
    animation-delay: 1s;
}

.contant-btn {
    text-align: center;
    margin-top: 30px;
    animation-delay: 1.5s;
}

.animated {
    animation-duration: 2.5s !important;
}

ol.carousel-indicators {
    display: none !important;
}

.contant-btn a {
    transition: 0.5s;
    padding: 10px 60px;
    border: 2px solid white;
    font-size: 17px;
    color: white;
    display: inline-block;
    text-align: center;
    margin-top: 26px;
    margin: 0 auto;
}

.contant-btn a:hover {
    color: #383838;
    background-color: white;
    border-color: white;
}

.contant-btn a:hover img {
    filter: grayscale(81%) brightness(720%) invert(1);
}

.contant-btn a img {
    filter: grayscale(1) brightness(100);
    opacity: 0.7;
    position: relative;
    top: 3px;
    left: 4px;
    transition: 1.5s;
}

section.contant-part {
    background: #f3f3f3;
    padding: 90px 0px;
}

.Strategy h2 {
    font-size: 55px;
    text-align: center;
    color: #005197;
    margin-bottom: 20px;
}

.Strategy p {
    text-align: center;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: "Atlas Grotesk";
    font-weight: 500;
}

footer {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 80px 0 50px;
    position: relative;
}

footer:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to top, #000 -2%, #00000033);
}

section.client {
    padding: 90px 0px;
}

footer .menu-contant h2 {
    font-size: 55px;
    padding: 0px;
}

.menu-contant h2 {
    text-align: center;
    font-size: 72px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.red {
    color: #ff0000;
}

.client-iamges {
    width: 100%;
}

.client-iamges ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.client-iamges ul li {
    width: 17%;
    list-style: none;
    border-bottom: solid 1px #d2d2d2;
    text-align: center;
    margin: 10px;
}

.client-btn a:hover {
    color: white;
    background-color: #005197;
    border-color: #005197;
    text-decoration: none;
}

.client-btn {
    text-align: center;
    margin-top: 30px;
}

.client-btn a {
    transition: 0.5s;
    padding: 10px 60px;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    margin-top: 26px;
    margin: 0 auto;
    border: solid 2px #005197;
    color: #005197;
}

footer .foot-menu-area {
    padding: 30px 0px 0px 40px;
}

footer .foot-menu-area h4 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

footer .foot-menu-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .foot-menu-area ul li {
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}

footer .foot-menu-area ul li a {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}

footer .foot-menu-area ul li p {
    margin: 0;
}

footer .foot-menu-area ul li a {
    color: #ffffffe6;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}

footer .foot-menu-area ul li a:hover {
    color: #ef9b11;
}


/* strategy section */

section.strategy {
    background: #f3f3f3;
    padding: 90px 0px;
}

.strategy-area h1 {
    font-size: 55px;
    text-align: center;
    color: #005197;
    margin-bottom: 20px;
}

.strategy-area p {
    margin-bottom: 50px;
    max-width: 850px;
    text-align: center;
    font-size: 18px;
    color: #000;
    line-height: 28px;
    margin: 0 auto 50px;
    font-weight: 700;
    padding: 0 20px;
}

.strategy-list {
    background-color: #fff;
    display: block;
    padding: 40px 30px;
    height: 321px;
    margin-bottom: 30px;
}

.strategy-list h4 {
    font-size: 25px;
    color: #000000;
    text-align: left;
}

section.strategy .container {
    width: 65%;
}

.strategy-list ul {
    list-style: none;
    padding: 0;
}

.strategy-list ul li p a {
    font-size: 16px;
    line-height: 40px;
    color: #005197;
    text-decoration: none;
    font-weight: 600;
}

.strategy-list ul li p {
    margin: 0;
}

.strategy-list ul li a:hover {
    color: #000;
}

.strategy-list a img:hover {
    width: 80px;
    height: 80px;
    filter: brightness(0%) invert(0) grayscale(0);
}

.strategy-list a img {
    width: 80px;
    height: 80px;
    margin-top: 130px;
}


/* logo page */

section.main-slider.inner-banner {
    position: relative;
}

section.main-slider.inner-banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(black -22%, #ffff0000 20%);
    z-index: 1;
}

section.main-slider.inner-banner article.slider-banner {
    position: absolute;
    left: 0;
    top: 0;
    height: 670px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
}

article.internalmain-contant {
    width: 100%;
    height: 670px;
    position: relative;
}

article.internalmain-contant .container,
article.internalmain-contant .container .row {
    height: 100%;
}

article.internalmain-contant .container .row .col-md-12 {
    display: table;
    height: 100%;
}

.banner-menu-contant {
    position: relative;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}

.banner-menu-contant h1 {
    text-align: center;
    font-size: 62px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.set-breadc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 240px;
    z-index: 99999;
}

.innerbanner-breadcrumb {
    position: relative;
    transform: rotate(-90deg);
    bottom: 140px;
    left: -15em;
}

.innerbanner-breadcrumb p {
    font-size: 16px;
    color: #bfbfbf;
    font-weight: 500;
}

.innerbanner-breadcrumb p a {
    color: #fff;
    text-decoration: none;
}

.content-inner h2 {
    color: #005197;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500 !important;
}

.content-inner p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #333;
}

.content-inner p a {
    color: #c71010;
}

.content-inner p b {
    font-size: 17px;
    color: #005197;
    font-weight: 500 !important;
}

.content-inner p h3 {
    color: #005197;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 500 !important;
    line-height: 34px;
}

.content-inner ul {
    font-size: 16px;
    margin-bottom: 9px;
    font-weight: 400;
    line-height: 30px;
    text-align: inherit;
    list-style: square;
}

section.only-in-pages {
    position: relative;
    background: #f3f3f3;
    padding-top: 80px;
}

article.dav-powders {
    background: #005197;
    color: #fff;
    text-align: center;
    padding: 140px 0px 80px;
}

.extra-content {
    width: 83%;
    margin: 0 auto;
}

.extra-content p {
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
    opacity: 0.9;
}

.extra-content h4 {
    font-size: 18px;
    font-weight: 400 !important;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    color: #F39C12;
    line-height: 28px;
}

article.dav-powders .container {
    width: 65%;
}

.single-page-client {
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    height: 210px;
    bottom: 16em;
}


/* contact page */

section.content-part {
    padding: 50px 0;
}

.contact-page-main-contant p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.contact-page-main-contant p:nth-child(2) {
    font-size: 16px;
}

.contact-page-detail {
    margin-top: 50px;
}

.contact-page-main-detail h3 {
    color: #005197;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 500 !important;
    line-height: inherit;
}

.contact-page-main-detail p b {
    font-size: 18px;
    color: #005197;
    font-weight: 500;
}

.contact-page-main-detail p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
}

.contact-page-main-detail p:nth-child(4) {
    margin-bottom: 15px;
}

.contact-page-main-detail p a {
    color: #c71010;
    text-decoration: none;
}

.contact-page-main-detail p a:hover {
    color: #005197;
    text-decoration: none;
}

.contact-us-form {
    margin-top: 70px;
}

.contact-form .text-field-full {
    width: 100%;
}

.contact-form .text-field-full:focus {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 2px 0 0 #26a69a;
    border: unset !important;
}

.contact-form .text-field-full {
    border-radius: 0;
    outline: none;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    margin-bottom: 20px !important;
    padding-left: 19px !important;
    box-sizing: inherit !important;
    background: #fff !important;
    height: 45px !important;
    border: solid 1px #c3c3c3 !important;
}

.contact-form .textarea-field-full {
    width: 100%;
    height: 100px;
    margin-bottom: 20px !important;
    padding-left: 20px !important;
    border: solid 1px #c3c3c3 !important;
    outline: none;
}

.contact-form .textarea-field-full:focus {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 2px 0 0 #26a69a;
    border: unset !important;
}

button.contact-submit-btn {
    background: #f66a49;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding: 13px 60px !important;
    height: inherit !important;
    border: none !important;
    margin-bottom: 0 !important;
    margin-top: 10px;
}

button.contact-submit-btn:hover {
    background: #005197;
}


/* contact page end*/


/* Resposive */

@media (max-width: 768px) {
    .menu-contant.mx-auto.text-center {
        width: 90%;
    }
    article.main-contant {
        position: relative;
        height: 510px !important;
        position: relative;
    }
    .menu-contant.mx-auto.text-center p {
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
    }
    .menu-contant.mx-auto.text-center h1.title-banner {
        color: #fff;
        text-align: center;
        font-size: 24px;
        margin-top: 80px;
    }
    .menu-contant.mx-auto.text-center {
        position: relative;
        padding: 50px 0;
    }
    .client-iamges ul {
        padding: 0;
    }
    .contant-btn a {
        padding: 10px 15px;
        font-size: 12px;
        display: inline-block;
        margin-top: 0px;
        margin: inherit;
    }
    footer .foot-menu-area ul li {
        margin: 0;
    }
    footer .foot-menu-area ul li a {
        font-size: 13px;
        line-height: 20px;
    }
    button.navbar-toggler {
        filter: brightness(6%) invert(31) grayscale(60) !important;
        border: none !important;
        outline: none !important;
    }
    .contant-btn {
        margin-top: 0;
    }
    .collapse.navbar-collapse.show {
        top: 0;
        left: 36px;
    }
    .collapse.navbar-collapse {
        padding-top: 70px;
        width: 70%;
        color: #ffffff;
        position: fixed;
        top: 0;
        left: -1000px;
        z-index: 999999;
        height: 100%;
        background: #fff;
        overflow-y: scroll;
        margin-left: -10%;
        transition: 0.4s;
    }
    ul.navbar-nav.header-menu li.nav-item a {
        /* color: #000 !important; */
        padding: 15px 20px;
        border-top: solid 1px #e5e5e5;
        z-index: 2;
        font-size: 14px;
        text-decoration: none;
        color: #474747 !important;
    }
    ul.navbar-nav.header-menu li.nav-item {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        line-height: 1;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .collapse:not(.show) {
        display: unset !important;
        visibility: hidden !important;
        opacity: 0 !important;
    }
    a.nav-link.text-capitalize.expandable:after {
        right: 0px !important;
        -webkit-filter: unset !important;
        filter: unset !important;
        top: -5px !important;
    }
    section.strategy .container {
        width: 100%;
    }
    /* Loo Page Respoonsive */
    article.slider-banner,
    article.internalmain-contant {
        height: 330px !important;
    }
    .banner-menu-contant h1 {
        font-size: 34px;
        text-align: center;
    }
    .set-breadc {
        position: absolute;
        left: 0;
        bottom: 70px;
        width: 92%;
        text-align: center;
    }
    .innerbanner-breadcrumb {
        left: 11px;
        bottom: 20px;
        transform: rotate(0deg);
        width: 100%;
        padding: 7px;
    }
    .innerbanner-breadcrumb p {
        font-size: 17px;
        color: #ffffff;
        font-weight: 500;
        text-shadow: 0px 1px 0px #0000004a;
    }
}