:root{
    --mainBrown: #2d1ef1;
    --mainYellow: #ff9e09;
    --mainGrey: #ece8dc;
    --mainWhite: #fff;
    --mainDark:#222;
}
body{
    background-color: var(--mainWhite);
    color: var(--mainDark);
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: 800 !important;
    padding: 0;
}
ul.navbar-nav.mx-auto .nav-item a {
    color: rgb(255 255 255);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease;
    color: #fff;
    overflow: inherit;
    display: inline-block;
    font-weight: 700;
}
article.top {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1440px;
    z-index: 9999;
}
.mr-auto, .mx-auto {
    margin-right: unset;
}
div#site-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    width: 100%;
    clear: left;
}
article.top .container {
    width: 90%;
    max-width: 100%;
}
.default-background {
    width: 100%;
    min-height: 670px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.default-background {
    width: 100%;
    height: 670px;
}
.header-menu{
    margin-right: 0 !important;
}
.menu-contant.mx-auto.text-center h1.title-banner {
    color: #fff;
}
.menu-contant.mx-auto.text-center p {
    color: #fff;
    font-weight: 700;
}
.contant-btn {
    text-align: center;
    margin-top: 30px;
}
.contant-btn a {
    transition: 0.5s;
    padding: 10px 60px;
    border: 2px solid white;
    font-size: 17px;
    color: white;
    display: inline-block;
    text-align: center;
    margin-top: 26px;
    margin: 0 auto;
}
.contant-btn a:hover {
    color: #383838;
    background-color: white;
    border-color: white;
}
.contant-btn a:hover img {
    filter: grayscale(81%) brightness(720%) invert(1);
}
.contant-btn a img {
    filter: grayscale(1) brightness(100);
    opacity: 0.7;
    position: relative;
    top: 3px;
    left: 4px;
    transition: 1.5s;
}
section.contant-part {
    background: #f3f3f3;
    padding: 90px 0px;
}
.Strategy h2 {
    font-size: 55px;
    text-align: center;
    color: #005197;
    margin-bottom: 20px;
}
.Strategy p {
    text-align: center;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: 'Atlas Grotesk';
}
footer {
    background-repeat:  no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 80px 0 50px;
    position: relative;
}
footer:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to top, #000 -2%, #00000033);
}
section.client {
    padding: 90px 0px;
}
footer .menu-contant h2 {
    font-size: 55px;
    padding: 0px;
}
.menu-contant h2 {
    text-align: center;
    font-size: 72px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}